<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:head>
			<style type="text/css">
.red_color {
	color: red !important;
}
</style>

		</h:head>

		<h:outputScript library="js" name="scripts.js" />

		<p:panel id="cadEmpresa">

			<f:facet name="header">
				<span class="ui-panel-title"> <i class="fa fa-user"
					style="width: 20px !important;" /> <h:outputText
						value="Empresa [001]"
						style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;" />
				</span>

			</f:facet>

			<div class="ui-g">
				<div class="ui-g-12">
					<h:form id="formulario" enctype="multipart/form-data"
						rendered="#{(identityBean.hasPermission('empresa.gerenciar.visualizar') and empresaBean.renderizaVisualizar) 
							or (identityBean.hasPermission('empresa.gerenciar.inserir') and (empty empresaBean.selecionado.id)) 
							or (identityBean.hasPermission('empresa.gerenciar.editar') and  (not empty empresaBean.selecionado.id))}">

						<div class="ui-fluid">
							<div
								style="text-align: left; height: auto; margin-top: 20px; margin-bottom: 20px;">
								<h:outputText value="Dados Empresa"
									style="font-size:16px;color:#fd6a33;" />
							</div>

							<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Nome fantasia" for="nomeFantasia" />
								<p:inputText id="nomeFantasia" value="#{empresaBean.selecionado.nomeFantasia}"
									readonly="#{empresaBean.renderizaVisualizar}"
									placeholder="Nome Fantasia" required="true"
									requiredMessage="Nome Fantasia é obrigatória" />
							</div>

							<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Razão social" for="razaoSocial" />
								<p:inputText id="razaoSocial" value="#{empresaBean.selecionado.razaoSocial}"
									readonly="#{empresaBean.renderizaVisualizar}"
									placeholder="Razão Social" required="true"
									requiredMessage="Razão Social é obrigatória" />
							</div>

							<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="CNPJ" for="cnpj"/>
								<p:inputMask id="cnpj"
									value="#{empresaBean.selecionado.cnpj}"
									mask="99.999.999/9999-99"
									readonly="#{empresaBean.renderizaVisualizar}"
									placeholder="CNPJ" />
							</div>

							<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="Telefone" for="telefone" />
								<p:inputMask id="telefone" mask="(99)99999-9999"
									value="#{empresaBean.selecionado.telefone}"
									readonly="#{empresaBean.renderizaVisualizar}"
									placeholder="Telefone" maxlength="10" />
							</div>
							
							<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="Email" for="email" />
								<p:inputText id="email" value="#{empresaBean.selecionado.email}"
									readonly="#{empresaBean.renderizaVisualizar}"
									placeholder="Email" required="true"
									requiredMessage="Email é obrigatória" />
							</div>

							<div class="ui-g-12 ui-md-12" style="text-align: left; height: auto; margin-top: 20px; margin-bottom: 20px;">
								<h:outputText value="Endereço" style="font-size:16px;color:#fd6a33;" />
							</div>

								<div class="ui-g-12 ui-md-2">
								<p:outputLabel value="#{msg.labelCep}:" for="cep" />
								<p:inputMask id="cep" mask="99.999-999"
									value="#{empresaBean.selecionado.endereco.cep}"
									placeholder="#{msg.labelPlaceHolderCep}" required="true"
									requiredMessage="#{msg.msgRequiredCep}">
									<p:ajax event="blur" listener="#{empresaBean.encontraCep}"
										global="true" process="@this"
										update="cep endereco bairro cidade estado numero" />
								</p:inputMask>
								</div>

								<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="Endereço" for="endereco" />
								<p:inputText id="endereco"
									value="#{empresaBean.selecionado.endereco.logradouro}"
									placeholder="Endereço" required="true"
									maxlength="60" requiredMessage="#{msg.msgRequiredEndereco}" />
								</div>

								<div class="ui-g-12 ui-md-2">
								<p:outputLabel value="Número" for="numero" />
								<p:inputText id="numero"
									value="#{empresaBean.selecionado.endereco.numero}"
									placeholder="Número" required="true"
									maxlength="6" requiredMessage="#{msg.msgRequiredNumero}" />
								</div>

								<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="#{msg.labelBairro}:" for="bairro" />
								<p:inputText id="bairro"
									value="#{empresaBean.selecionado.endereco.bairro}"
									placeholder="#{msg.labelPlaceHolderBairro}" required="true"
									maxlength="80" requiredMessage="#{msg.msgRequiredBairro}" />
								</div>

								<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="#{msg.labelCidade}:" for="cidade"
									rendered="#{empresaBean.renderizaCamposCidadeEstado}" />
								<p:inputText id="cidade"
									rendered="#{empresaBean.renderizaCamposCidadeEstado}"
									value="#{empresaBean.selecionado.endereco.cidade.nome}"
									placeholder="#{msg.labelPlaceHolderCidade}" required="true"
									requiredMessage="#{msg.msgRequiredCidade}"
									style="text-transform: capitalize;" readonly="true" />
								</div>
								
								<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="#{msg.labelEstado}:" for="estado"
									rendered="#{empresaBean.renderizaCamposCidadeEstado}" />
								<p:inputText id="estado"
									rendered="#{empresaBean.renderizaCamposCidadeEstado}"
									value="#{empresaBean.selecionado.endereco.cidade.estado.sigla}"
									placeholder="#{msg.labelPlaceHolderEstado}" required="true"
									requiredMessage="#{msg.msgRequiredEstado}" style="width:32px;"
									readonly="true" />
								</div>

								<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Estado" for="estadoComboBox"
									rendered="#{!empresaBean.renderizaCamposCidadeEstado}" />
								<p:selectOneMenu id="estadoComboBox" required="true"
									rendered="#{!empresaBean.renderizaCamposCidadeEstado}"
									requiredMessage="#{msg.msgRequiredEstado}"
									value="#{empresaBean.selecionado.endereco.cidade.estado}"
									filter="true" converter="omnifaces.SelectItemsConverter">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems value="#{empresaBean.listaEstados}"
										var="_estado" itemLabel="#{_estado.estado}"
										itemValue="#{_estado}" />
									<p:ajax
										listener="#{empresaBean.listaCidadesPorCodigoEstado(empresaBean.selecionado.endereco.cidade.estado)}"
										update="cidadeComboBox"></p:ajax>
								</p:selectOneMenu>
								</div>

								<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Cidade" for="cidadeComboBox"
									rendered="#{!empresaBean.renderizaCamposCidadeEstado}" />
								<p:selectOneMenu id="cidadeComboBox" required="true"
									rendered="#{!empresaBean.renderizaCamposCidadeEstado}"
									requiredMessage="#{msg.msgRequiredCidade}"
									value="#{empresaBean.selecionado.endereco.cidade}"
									filter="true" converter="omnifaces.SelectItemsConverter">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems value="#{empresaBean.listaCidades}"
										var="_cidade" itemLabel="#{_cidade.nome}"
										itemValue="#{_cidade}" />
								</p:selectOneMenu>
								</div>


							<div class="ui-g-12 ui-md-12">
								<div
									style="text-align: left; height: auto; margin-bottom: 20px; margin-top: 20px;">
									<h:outputText value="(*) campos obrigatórios"
										style="font-size:12px;color:#fd6a33;font-style:italic;" />
								</div>

								<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
									<app:appForm id="idTbl"
										rederedSave="#{(not empresaBean.renderizaVisualizar) and ((identityBean.hasPermission('empresa.gerenciar.inserir') and (empty empresaBean.selecionado.id)) 
														or (identityBean.hasPermission('empresa.gerenciar.editar') and  (not empty empresaBean.selecionado.id)))}"
										rederedClear="#{(not empresaBean.renderizaVisualizar) 
														and (empty empresaBean.selecionado.id and identityBean.hasPermission('empresa.gerenciar.inserir'))}"
										rederedSearch="#{identityBean.hasPermission('empresa.gerenciar.deletar')}"
										managedBeanName="#{empresaBean}">
									</app:appForm>
								</div>
							</div>
						</div>

					</h:form>
				</div>
			</div>
		</p:panel>
	</ui:define>
</ui:composition>