<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	
	<ui:define name="content">
	
	<p:panel id="alterarSenhaUsuario">
			<f:facet name="header">
				<span class="ui-panel-title"> <i class="fa fa-institution"
					style="width: 20px !important;" /> 
						<h:outputText value="#{msg.labeltituloEditarSenhaUsuario}" style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;" />
				</span>
			</f:facet>

	<!-- INÍCIO FORMULÁRIO DE ALTERAÇÃO DE SENHA DO USUÁRIO -->
	<h:form id="frm">
		<div class="ui-fluid">
			<p:panelGrid columns="2" layout="grid"
				rendered="true" styleClass="ui-panelgrid-blank form-group"
				columnClasses="ui-grid-col-2,ui-grid-col-8">
				
				<p:outputLabel value="#{msg.labelSenhaAtual}:" for="senhaAtual" />
				<p:password id="senhaAtual" value="#{editarSenhaUsuarioBean.senhaAtual}"
					placeholder="#{msg.labelPlaceHolderSenhaAtual}"
					requiredMessage="#{msg.msgRequiredSenhaAtual}" redisplay="true" required="true"
					promptLabel="#{msg.labelForcaSenha}" weakLabel="#{msg.labelForcaSenhaFraca}"
                  	goodLabel="#{msg.labelForcaSenhaMedia}" strongLabel="#{msg.labelForcaSenhaForte}" 
                  	maxlength="50" style="width:250px;">
             	</p:password>

				<p:outputLabel value="#{msg.labelNovaSenha}:" for="novaSenha" />
				<p:password id="novaSenha" value="#{editarSenhaUsuarioBean.novaSenha}"
					feedback="true" placeholder="#{msg.labelPlaceHolderNovaSenha}"
					requiredMessage="#{msg.msgRequiredNovaSenha}" redisplay="true" required="true"
					promptLabel="#{msg.labelForcaSenha}" weakLabel="#{msg.labelForcaSenhaFraca}"
                  	goodLabel="#{msg.labelForcaSenhaMedia}" strongLabel="#{msg.labelForcaSenhaForte}" 
                  	maxlength="50" style="width:250px;">
                  			<f:validateLength minimum="8" ></f:validateLength>
             	</p:password>

				<p:outputLabel value="#{msg.labelRepeteNovaSenha}:" for="repeteNovaSenha" />
				<p:password id="repeteNovaSenha" value="#{editarSenhaUsuarioBean.repeteNovaSenha}"
							feedback="true" placeholder="#{msg.labelPlaceHolderRepeteNovaSenha}" required="true"
							requiredMessage="#{msg.msgRequiredRepetirNovaSenha}" redisplay="true" 
							promptLabel="#{msg.labelForcaSenha}" weakLabel="#{msg.labelForcaSenhaFraca}"
                    		goodLabel="#{msg.labelForcaSenhaMedia}" strongLabel="#{msg.labelForcaSenhaForte}" 
                    		maxlength="50" style="width:250px;">
                    			<f:validateLength minimum="8" ></f:validateLength>
                    	</p:password>

			</p:panelGrid>

			<!-- GRUPO DE BOTÕES SALVAR, LIMPAR -->
			<div
				style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
				<p:commandButton value="#{msg.btnAtualizar}"
					update="frm" icon="fa fa-save" 
					style="width:120px; margin-left: 3px;" id="btnAtualizar"
					action="#{editarSenhaUsuarioBean.editarSenha()}" ajax="false">
				</p:commandButton>

				<p:commandButton value="#{msg.btnLimpar}"
					action="#{editarSenhaUsuarioBean.limparFormEditarSenhaUsuario()}" icon="fa fa-times"
					style="width:120px; margin-left: 3px;" id="btnLimpar" global="false"
					immediate="true">
					
					<f:ajax render="frm" resetValues="true"/>
				</p:commandButton>	
			</div>
			<!-- GRUPO DE BOTÕES SALVAR, LIMPAR -->
		</div>
	</h:form>
	<!-- FIM FORMULÁRIO DE ALTERAÇÃO DE SENHA DO USUÁRIO -->
	
	</p:panel>
	</ui:define>
</ui:composition>