<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	template="/WEB-INF/template.xhtml">
	
	<ui:define name="content">
		 
		 <h:head>
	        <style type="text/css">
	            .red_color{
	                color: red !important;
	            }
	        </style>
	        
	    </h:head>
	
		<h:outputScript library="js" name="scripts.js" />
		
		<p:panel id="cadUsuario">
		
			<f:facet name="header">
				<span class="ui-panel-title">
					<i class="fa fa-user" style="width: 20px !important;"/> 
					<h:outputText value="Usuário [001]" style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;"/>
				</span>
				
	         </f:facet>
	         
			<h:form id="formulario" enctype="multipart/form-data" 
				rendered="#{(identityBean.hasPermission('usuario.gerenciar.visualizar') and usuarioBean.renderizaVisualizar) 
							or (identityBean.hasPermission('usuario.gerenciar.inserir') and (empty usuarioBean.selecionado.id)) 
							or (identityBean.hasPermission('usuario.gerenciar.editar') and  (not empty usuarioBean.selecionado.id))}" >
			
				<div class="ui-fluid">
					<div style="text-align:left; height:auto; margin-top:20px; margin-bottom: 20px; ">
						<h:outputText value="Dados usuário" 
							style="font-size:16px;color:#fd6a33;"/>
					</div>	
				
					<p:panelGrid columns="2" layout="grid" id="panelGrid"
						styleClass="ui-panelgrid-blank form-group"
						columnClasses="ui-grid-col-2,ui-grid-col-10">
						
						<p:outputLabel value="Código" for="codigo" rendered="#{not empty usuarioBean.selecionado.id}" />
						<p:inputText id="codigo" value="#{usuarioBean.selecionado.id}"
							readonly="true" required="true"
							rendered="#{not empty usuarioBean.selecionado.id}"
							placeholder="#{msg.labelPlaceholderCodigo}" 
							requiredMessage="#{msg.msgRequiredCodigo}" />
						
						<p:outputLabel value="#{msg.labelLogin}:" for="login" />
						<p:inputText id="login" value="#{usuarioBean.selecionado.login}"
							readonly="#{usuarioBean.renderizaVisualizar}"
							placeholder="#{msg.labelPlaceholderLogin}" required="true"
							requiredMessage="#{msg.msgRequiredLogin}"/>
							
						<p:outputLabel value="Cadastrar senha:" for="cadastrarSenha" rendered="#{usuarioBean.renderizaCadastrarNovaSenha}"/>	
						<p:selectBooleanCheckbox id="cadastrarSenha"
							value="#{usuarioBean.cadastrarNovaSenha}" rendered="#{usuarioBean.renderizaCadastrarNovaSenha}">
							<p:ajax listener="#{usuarioBean.habilitaCampoSenhaERepeteNovaSenha()}" update="formulario"/>
						</p:selectBooleanCheckbox>	
							
						<p:outputLabel value="#{msg.labelSenha}:" for="senha" rendered="#{usuarioBean.renderizaCampoSenhaSeSuperAdmin}" />
						<p:password id="senha" value="#{usuarioBean.selecionado.senha}" rendered="#{usuarioBean.renderizaCampoSenhaSeSuperAdmin}"
							feedback="true" placeholder="#{msg.labelPlaceholderSenha}" required="true"
							requiredMessage="#{msg.msgRequiredSenha}" redisplay="false" 
							promptLabel="#{msg.labelForcaSenha}" weakLabel="#{msg.labelForcaSenhaFraca}"
                    		goodLabel="#{msg.labelForcaSenhaMedia}" strongLabel="#{msg.labelForcaSenhaForte}" 
         >
                    			<f:validateLength minimum="8" ></f:validateLength>
                    	</p:password>
                    	
                    	<p:outputLabel value="#{msg.labelRepeteNovaSenha}:" for="repeteNovaSenha" rendered="#{usuarioBean.renderizaCampoSenhaSeSuperAdmin}"/>
						<p:password id="repeteNovaSenha" value="#{usuarioBean.repeteNovaSenha}" rendered="#{usuarioBean.renderizaCampoSenhaSeSuperAdmin}"
							feedback="true" placeholder="#{msg.labelPlaceHolderRepeteNovaSenha}" required="true"
							requiredMessage="#{msg.msgRequiredRepetirNovaSenha}" redisplay="false" 
							promptLabel="#{msg.labelForcaSenha}" weakLabel="#{msg.labelForcaSenhaFraca}"
                    		goodLabel="#{msg.labelForcaSenhaMedia}" strongLabel="#{msg.labelForcaSenhaForte}" >
                    			<f:validateLength minimum="8" ></f:validateLength>
                    	</p:password>
                    		
                    	<p:outputLabel value="#{msg.labelSetorUsuario}:" for="setor" />
						<p:inputText id="setor" value="#{usuarioBean.selecionado.setor}"
							readonly="#{usuarioBean.renderizaVisualizar}"
							placeholder="#{msg.labelPlaceholderSetorUsuario}" required="true"
							requiredMessage="#{msg.msgRequiredSetorUsuario}"/>	
							
						<p:outputLabel value="Perfil" for="perfil" />
			    		<p:selectOneMenu id="perfil" value="#{usuarioBean.selecionado.perfil}" converter="entityConverter" >
			    			<f:selectItem itemLabel="Selecione a perfil"/>
			    			<f:selectItems value="#{usuarioBean.perfis}" var="perfil" 
			    				itemValue="#{perfil}" itemLabel="#{perfil.nome}" />
			    		</p:selectOneMenu>
                    		
                    	<p:outputLabel value="#{msg.labelStatus}:" for="identificador" />
						<p:selectOneRadio id="identificador" layout="pageDirection"
							disabled="#{usuarioBean.renderizaVisualizar}"
							value="#{usuarioBean.selecionado.identificador}" required="true"
							requiredMessage="#{msg.msgRequiredStatus}">
							<f:selectItem itemLabel="#{msg.labelAtivo}" itemValue="ATIVO" />
							<f:selectItem itemLabel="#{msg.labelInativo}" itemValue="INATIVO" />
						</p:selectOneRadio>
					</p:panelGrid>
					
					<div style="text-align:left; height:auto; margin-top:20px; margin-bottom: 20px; ">
						<h:outputText value="#{msg.labelDadosPessoais}"
							style="font-size:16px;color:#fd6a33;"/>
					</div>
					
					<p:panelGrid columns="2" layout="grid"
						styleClass="ui-panelgrid-blank form-group"
						columnClasses="ui-grid-col-2,ui-grid-col-8">
							
                    	<p:outputLabel value="#{msg.labelNome}:" for="nome" />
						<p:inputText id="nome" value="#{usuarioBean.selecionado.nome}"
							readonly="#{usuarioBean.renderizaVisualizar}"
							placeholder="#{msg.labelPlaceholderNome}" required="true"
							requiredMessage="#{msg.msgRequiredNome}" maxlength="60"/>

						<p:outputLabel value="#{msg.labelCpf}:" for="cpf" />
						<p:inputMask id="cpf" mask="999.999.999-99"
							readonly="#{usuarioBean.renderizaVisualizar}"
							value="#{usuarioBean.selecionado.cpf}" placeholder="#{msg.labelPlaceholderCpf}"
						   maxlength="14"/>

						<p:outputLabel value="#{msg.labelDataNascimento}:" for="nascimento" />
						<p:calendar id="nascimento" 
							disabled="#{usuarioBean.renderizaVisualizar}"
							value="#{usuarioBean.selecionado.dataNascimento}"
							placeholder="#{msg.labelPlaceholderDataNascimento}" pattern="dd/MM/yyyy" mask="true"
							effect="fold"  navigator="true" yearRange="1900:2002" />

						<p:outputLabel value="#{msg.labelEmail}:" for="email" />
						<p:inputText id="email" value="#{usuarioBean.selecionado.email}"
							readonly="#{usuarioBean.renderizaVisualizar}"
							placeholder="#{msg.labelPlaceHolderEmail}" required="true"
							requiredMessage="#{msg.msgRequiredEmail}" maxlength="60" />
							
						<p:outputLabel value="#{msg.labelEnviarNovaSenha}:" for="novaSenhaEmail" 
							rendered="#{usuarioBean.renderizaCampoEnviarNovaSenha}"/>
						<p:selectBooleanCheckbox id="novaSenhaEmail"
							value="#{usuarioBean.geraNovaSenhaParaUsuario}"
							rendered="#{usuarioBean.renderizaCampoEnviarNovaSenha}"/>
							
					</p:panelGrid>
					
					<div style="text-align:left; height:auto; margin-bottom: 20px;margin-top:20px;">
						<h:outputText value="(*) campos obrigatórios"
							style="font-size:12px;color:#fd6a33;font-style:italic;"/>
					</div>
					
					<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
					<app:appForm id="idTbl"
						rederedSave="#{(not usuarioBean.renderizaVisualizar) and ((identityBean.hasPermission('usuario.gerenciar.inserir') and (empty usuarioBean.selecionado.id)) 
										or (identityBean.hasPermission('usuario.gerenciar.editar') and  (not empty usuarioBean.selecionado.id)))}"
						rederedClear="#{(not usuarioBean.renderizaVisualizar) 
										and (empty usuarioBean.selecionado.id and identityBean.hasPermission('usuario.gerenciar.inserir'))}"
						rederedSearch="#{identityBean.hasPermission('usuario.gerenciar.deletar')}"
						managedBeanName="#{usuarioBean}">
					</app:appForm>
					</div>
				</div>
				
				<p:dialog header="Filiais" widgetVar="dialogFiliais" modal="true" width="600" height="200" position="center" closable="false">
					<p:commandLink value="#{msg.labelLinkMarcarTodosDialogFiliais}" 
					   onclick="selectAllCheckBoxes(PF('manyCheckWV'), false);">
					</p:commandLink>
					 
					<p:commandLink value="#{msg.labelLinkDesmarcarTodosDialogFiliais}"
					   onclick="selectAllCheckBoxes(PF('manyCheckWV'), true);">
					</p:commandLink>
					
					<p:commandButton style="width:100px; margin-left: 3px; margin-top: 10px;"
					 	value="#{msg.btnFechar}" oncomplete="PF('dialogFiliais').hide();">
					</p:commandButton>
				</p:dialog>   
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>