<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<p:panel id="cadRole">
			<f:facet name="header">
				<span class="ui-panel-title"> <i class="fa fa-institution"
					style="width: 20px !important;" /> <h:outputText
						value="Usuário [001]"
						style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;" />
				</span>
			</f:facet>

			<h:form id="formBtnCadastrar">
	         <div style="margin-bottom: 20px">
				<app:appList
					renderedInsert="#{identityBean.hasPermission('usuario.gerenciar.inserir')}"
					rederedView="#{identityBean.hasPermission('usuario.gerenciar.visualizar')}"
					rederedEdit="#{identityBean.hasPermission('usuario.gerenciar.editar')}"
					rederedRemove="#{identityBean.hasPermission('usuario.gerenciar.deletar')}"
					managedBeanName="#{usuarioBean}">
				</app:appList>
			</div>
			</h:form>

			<h:form id="formPesquisa"
				rendered="#{identityBean.hasPermission('usuario.gerenciar.pesquisar')}">
				
				<div class="ui-fluid">
					<p:fieldset legend="Consultar usuário">
						<p:panelGrid columns="8" layout="grid" id="panelGrid"
							styleClass="ui-panelgrid-blank panelgrid-noborder">

							<p:outputLabel value="Código" for="codigoPesquisa" />
							<p:inputMask mask="?9999999999" id="codigoPesquisa"
								value="#{usuarioBean.filtro.campoPesquisaId}"
								placeholder="Código" />

							<p:outputLabel value="#{msg.labelCpf}:" for="cpf" />
							<p:inputMask id="cpf" mask="?999.999.999-99"
								value="#{usuarioBean.filtro.campoPesquisaCpf}"
								placeholder="#{msg.labelPlaceholderCpf}" />

							<p:outputLabel value="#{msg.labelNome}:" for="nome" />
							<p:inputText id="nome"
								value="#{usuarioBean.filtro.campoPesquisaNome}"
								placeholder="#{msg.labelPlaceholderNome}" maxlength="60" />

							<p:outputLabel value="#{msg.labelLogin}:" for="login" />
							<p:inputText id="login"
								value="#{usuarioBean.filtro.campoPesquisaLogin}"
								placeholder="#{msg.labelPlaceholderLogin}" maxlength="10" />
						</p:panelGrid>

					<div style="margin-top: 10px; margin-bottom: 10px;">
							<p:commandButton id="btPesquisar" value="#{msg.btnConsultar}"
								action="#{usuarioBean.inicializaLista}"
								icon="fa fa-search" update=":formTabela :formPesquisa growl"
								style="width:120px; margin-left: 3px;" />
						</div>
					</p:fieldset>
				</div>
			</h:form>

			<h:form id="formTabela"
				rendered="#{identityBean.hasPermission('usuario.gerenciar.pesquisar') and not empty usuarioBean.selecionados}" 
				prependId="false">

				<f:metadata>
					<f:event listener="#{usuarioBean.beginConversation()}"
						type="preRenderView" />
				</f:metadata>
				
				<p:dataTable id="idTbl" value="#{usuarioBean.selecionados}" var="entidade" emptyMessage="Nenhum dado encontrado." rows="5" 
		    		paginator="true" rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="true" paginatorPosition="bottom"
			    	selectionMode="single" reflow="true" selection="#{usuarioBean.selecionado}" rowKey="#{entidade.id}"
        			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			        currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} páginas">
			        <p:ajax event="rowSelect" update=":formPesquisa :formTabela formBtnCadastrar"/>
			    	<f:facet name="header">
                        Lista de Usuários
                    </f:facet>
					<p:column headerText="Código" sortBy="#{entidade.id}" onclick="alert('button')"
						style="text-align:center;">
						<h:outputText value="#{entidade.id}" />
					</p:column>

					<p:column headerText="#{msg.labelLogin}" sortBy="#{entidade.login}">
						<h:outputText value="#{entidade.login}" />
					</p:column>

					<p:column headerText="#{msg.labelCpf}" style="text-align:center;">
						<h:outputText value="#{entidade.cpf}" />
					</p:column>

					<p:column headerText="#{msg.labelNome}">
						<h:outputText value="#{entidade.nome}" style="text-transform: uppercase;" />
					</p:column>

					<p:column headerText="#{msg.labelEmail}">
						<h:outputText value="#{entidade.email}" />
					</p:column>

					<p:column headerText="#{msg.labelStatus}" style="text-align:center;">
						<h:outputText value="#{entidade.identificador}" />
					</p:column>

				</p:dataTable>

			</h:form>

			<h:form
				rendered="#{identityBean.hasPermission('usuario.gerenciar.pesquisar') and empty usuarioBean.selecionados}">
				<p:panel>
					<div style="margin-top: 20px;">
						<h:outputText value="#{msg.msgListagemVazia}"
							style="font-size: 13px; font-weight: bold;" />
					</div>
				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>