<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:head>
			<style type="text/css">
.red_color {
	color: red !important;
}
</style>

		</h:head>

		<h:outputScript library="js" name="scripts.js" />

		<p:panel id="cadCliente">

			<f:facet name="header">
				<span class="ui-panel-title"> <i class="fa fa-user"
					style="width: 20px !important;" /> <h:outputText
						value="Cliente [001]"
						style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;" />
				</span>

			</f:facet>

			<div class="ui-g">
				<div class="ui-g-12">
					<h:form id="formulario" enctype="multipart/form-data"
						rendered="#{(identityBean.hasPermission('cliente.gerenciar.visualizar') and clienteBean.renderizaVisualizar) 
							or (identityBean.hasPermission('cliente.gerenciar.inserir') and (empty clienteBean.selecionado.id)) 
							or (identityBean.hasPermission('cliente.gerenciar.editar') and  (not empty clienteBean.selecionado.id))}">

						<div class="ui-fluid">
							<div
								style="text-align: left; height: auto; margin-top: 20px; margin-bottom: 20px;">
								<h:outputText value="Dados Cliente"
									style="font-size:16px;color:#fd6a33;" />
							</div>

							<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Nome" for="nome" />
								<p:inputText id="nome" value="#{clienteBean.selecionado.nome}"
									readonly="#{clienteBean.renderizaVisualizar}"
									placeholder="Nome" required="true"
									requiredMessage="Nome é obrigatória" />
							</div>

							<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Email" for="email" />
								<p:inputText id="email" value="#{clienteBean.selecionado.email}"
									readonly="#{clienteBean.renderizaVisualizar}"
									placeholder="Email" required="true"
									requiredMessage="Email é obrigatória" />
							</div>

							<div class="ui-g-12 ui-md-2">
								<p:outputLabel value="Tipo pessoa" for="tipoPessoa" />
								<p:selectOneRadio id="tipoPessoa" layout="pageDirection"
									value="#{clienteBean.selecionado.tipoPessoa}" required="true"
									requiredMessage="#{msg.msgRequiredStatus}">
									<f:selectItem itemLabel="Fisíca" itemValue="FISICA" />
									<f:selectItem itemLabel="Jurídica" itemValue="JURIDICA" />
									<p:ajax event="change" update="formulario cpf cnpj" listener="#{clienteBean.habilitaCampoCpfCnpj()}"/>
										
								</p:selectOneRadio>
							</div>
							<div class="ui-g-12 ui-md-4">

								<p:outputLabel value="CPF" for="cpf"
									rendered="#{not clienteBean.renderizaCpfCnpj}" />
								<p:inputMask id="cpf" rendered="#{not clienteBean.renderizaCpfCnpj}"
									value="#{clienteBean.selecionado.cpfOuCnpj}"
									mask="999.999.999-99"
									readonly="#{clienteBean.renderizaVisualizar}" placeholder="CPF" />

								<p:outputLabel value="CNPJ" for="cnpj"
									rendered="#{clienteBean.renderizaCpfCnpj}" />
								<p:inputMask id="cnpj"
									rendered="#{clienteBean.renderizaCpfCnpj}"
									value="#{clienteBean.selecionado.cpfOuCnpj}"
									mask="99.999.999/9999-99"
									readonly="#{clienteBean.renderizaVisualizar}"
									placeholder="CNPJ" />
							</div>

							<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Telefone" for="telefone" />
								<p:inputMask id="telefone" mask="(99)99999-9999"
									value="#{clienteBean.selecionado.telefone}"
									readonly="#{clienteBean.renderizaVisualizar}"
									placeholder="Telefone" maxlength="10" />
							</div>

							<div class="ui-g-12 ui-md-12" style="text-align: left; height: auto; margin-top: 20px; margin-bottom: 20px;">
								<h:outputText value="Endereço" style="font-size:16px;color:#fd6a33;" />
							</div>

								<div class="ui-g-12 ui-md-2">
								<p:outputLabel value="#{msg.labelCep}:" for="cep" />
								<p:inputMask id="cep" mask="99.999-999"
									value="#{clienteBean.selecionado.endereco.cep}"
									placeholder="#{msg.labelPlaceHolderCep}">
									<p:ajax event="blur" listener="#{clienteBean.encontraCep}"
										global="true" process="@this"
										update="cep endereco bairro cidade estado numero" />
								</p:inputMask>
								</div>

								<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="Endereço" for="endereco" />
								<p:inputText id="endereco"
									value="#{clienteBean.selecionado.endereco.logradouro}"
									placeholder="Endereço" maxlength="60" />
								</div>

								<div class="ui-g-12 ui-md-2">
								<p:outputLabel value="Número" for="numero" />
								<p:inputText id="numero"
									value="#{clienteBean.selecionado.endereco.numero}"
									placeholder="Número" maxlength="6" />
								</div>

								<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="#{msg.labelBairro}:" for="bairro" />
								<p:inputText id="bairro"
									value="#{clienteBean.selecionado.endereco.bairro}"
									placeholder="#{msg.labelPlaceHolderBairro}"	maxlength="80" />
								</div>

								<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="#{msg.labelCidade}:" for="cidade"
									rendered="#{clienteBean.renderizaCamposCidadeEstado}" />
								<p:inputText id="cidade"
									rendered="#{clienteBean.renderizaCamposCidadeEstado}"
									value="#{clienteBean.selecionado.endereco.cidade.nome}"
									placeholder="#{msg.labelPlaceHolderCidade}"
									style="text-transform: capitalize;" readonly="true" />
								</div>
								
								<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="#{msg.labelEstado}:" for="estado"
									rendered="#{clienteBean.renderizaCamposCidadeEstado}" />
								<p:inputText id="estado"
									rendered="#{clienteBean.renderizaCamposCidadeEstado}"
									value="#{clienteBean.selecionado.endereco.cidade.estado.sigla}"
									placeholder="#{msg.labelPlaceHolderEstado}" style="width:32px;"
									readonly="true" />
								</div>

								<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Estado" for="estadoComboBox"
									rendered="#{!clienteBean.renderizaCamposCidadeEstado}" />
								<p:selectOneMenu id="estadoComboBox"
									rendered="#{!clienteBean.renderizaCamposCidadeEstado}"
									value="#{clienteBean.selecionado.endereco.cidade.estado}"
									filter="true" converter="omnifaces.SelectItemsConverter">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems value="#{clienteBean.listaEstados}"
										var="_estado" itemLabel="#{_estado.estado}"
										itemValue="#{_estado}" />
									<p:ajax
										listener="#{clienteBean.listaCidadesPorCodigoEstado(clienteBean.selecionado.endereco.cidade.estado)}"
										update="cidadeComboBox"></p:ajax>
								</p:selectOneMenu>
								</div>

								<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Cidade" for="cidadeComboBox"
									rendered="#{!clienteBean.renderizaCamposCidadeEstado}" />
								<p:selectOneMenu id="cidadeComboBox"
									rendered="#{!clienteBean.renderizaCamposCidadeEstado}"
									value="#{clienteBean.selecionado.endereco.cidade}"
									filter="true" converter="omnifaces.SelectItemsConverter">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems value="#{clienteBean.listaCidades}"
										var="_cidade" itemLabel="#{_cidade.nome}"
										itemValue="#{_cidade}" />
								</p:selectOneMenu>
								</div>


							<div class="ui-g-12 ui-md-12">
								<div
									style="text-align: left; height: auto; margin-bottom: 20px; margin-top: 20px;">
									<h:outputText value="(*) campos obrigatórios"
										style="font-size:12px;color:#fd6a33;font-style:italic;" />
								</div>

					<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
						<app:appForm id="idTbl"
							rederedSave="#{(not clienteBean.renderizaVisualizar) and ((identityBean.hasPermission('cliente.gerenciar.inserir') and (empty clienteBean.selecionado.id)) 
											or (identityBean.hasPermission('cliente.gerenciar.editar') and  (not empty clienteBean.selecionado.id)))}"
							rederedClear="#{(not clienteBean.renderizaVisualizar) 
											and (empty clienteBean.selecionado.id and identityBean.hasPermission('cliente.gerenciar.inserir'))}"
							rederedSearch="#{identityBean.hasPermission('cliente.gerenciar.deletar')}"
							managedBeanName="#{clienteBean}">
						</app:appForm>
					</div>
							</div>
						</div>

					</h:form>
				</div>
			</div>
		</p:panel>
	</ui:define>
</ui:composition>