<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	template="/WEB-INF/template.xhtml">
	
	<ui:define name="content">
		 
		 <h:head>
	        <style type="text/css">
	            .red_color{
	                color: red !important;
	            }
	        </style>
	        
	           <script type="text/javascript">
	        	
	        	function cleanForm() {
	        		var servidor_smtp = document.getElementById('formulario:nome').value;
	        		if(!servidor_smtp){
	        			document.getElementById('formulario:nome').value = '';
	        		}
	        	}
	        	window.onload = cleanForm;
	        	
	        	function selectAllCheckBoxes(manyCheckBoxes, estado) {
	        		   manyCheckBoxes.inputs.each(function() {
	        		      $(this).prop('checked', estado);
	        		      $(this).trigger('click');
	        		   });
	        		}
	        </script>
	        
	    </h:head>
	
		<h:outputScript library="js" name="scripts.js" />
		
		<p:panel id="cadperfil">
		
			<f:facet name="header">
				<span class="ui-panel-title">
					<i class="fa fa-user" style="width: 20px !important;"/> 
					<h:outputText value="Perfil [001]" style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;"/>
				</span>
				
	         </f:facet>
	         
			<h:form id="formulario" enctype="multipart/form-data" 
				rendered="#{(identityBean.hasPermission('perfil.gerenciar.visualizar') and perfilBean.renderizaVisualizar) 
							or (identityBean.hasPermission('perfil.gerenciar.inserir') and (empty perfilBean.selecionado.id)) 
							or (identityBean.hasPermission('perfil.gerenciar.editar') and  (not empty perfilBean.selecionado.id))}" >
			
				<div class="ui-fluid">
					<div style="text-align:left; height:auto; margin-top:20px; margin-bottom: 20px; ">
						<h:outputText value="Perfil" 
							style="font-size:16px;color:#fd6a33;"/>
					</div>	
				
					<p:panelGrid columns="2" layout="grid" id="panelGrid"
						styleClass="ui-panelgrid-blank form-group"
						columnClasses="ui-grid-col-2,ui-grid-col-8">
						
						<p:outputLabel value="Descrição:" for="nome" />
						<p:inputText id="nome" value="#{perfilBean.selecionado.nome}"
							readonly="#{perfilBean.renderizaVisualizar}"
							placeholder="#{msg.labelPlaceholderLogin}" required="true"
							requiredMessage="#{msg.msgRequiredLogin}" maxlength="10"
							style="width:250px;"/>

						<div class="ui-g-12 ui-md-8">
							<div class="card card-w-title">
								<h3 style="margin-top: 0; margin-bottom: -20px">Permissões</h3>
								<p:pickList id="permissao" value="#{perfilBean.permissoes}"
									var="permissao" effect="bounce"
									converter="perfilPermissaoConverter" itemValue="#{permissao}"
									itemLabel="#{permissao}" showSourceControls="true"
									showTargetControls="true" showCheckbox="true"
									showSourceFilter="true" showTargetFilter="true"
									filterMatchMode="contains" responsive="true">

									<f:facet name="sourceCaption">Disponíveis</f:facet>
									<f:facet name="targetCaption">Selecionados</f:facet>

									<p:column style="width:85%;">
										<h:outputText value="#{permissao.descricao}" />
									</p:column>
								</p:pickList>
							</div>
						</div>


					</p:panelGrid>
					
					<div style="text-align:left; height:auto; margin-bottom: 20px;margin-top:20px;">
						<h:outputText value="(*) campos obrigatórios"
							style="font-size:12px;color:#fd6a33;font-style:italic;"/>
					</div>
					
					<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
						<app:appForm id="idTbl"
							rederedSave="#{(not prefilBean.renderizaVisualizar) and ((identityBean.hasPermission('prefil.gerenciar.inserir') and (empty prefilBean.selecionado.id)) 
											or (identityBean.hasPermission('prefil.gerenciar.editar') and  (not empty prefilBean.selecionado.id)))}"
							rederedClear="#{(not prefilBean.renderizaVisualizar) 
											and (empty prefilBean.selecionado.id and identityBean.hasPermission('prefil.gerenciar.inserir'))}"
							rederedSearch="#{identityBean.hasPermission('prefil.gerenciar.deletar')}"
							managedBeanName="#{prefilBean}">
						</app:appForm>
					</div>
				</div>
				
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>