<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<p:panel id="cadPerfil">
			<f:facet name="header">
				<span class="ui-panel-title"> <i class="fa fa-institution"
					style="width: 20px !important;" /> <h:outputText
						value="#{msg.labelPerfilName}"
						style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;" />
				</span>
			</f:facet>

			<h:form id="formBtnCadastrar">
	         <div style="margin-bottom: 20px">
				<app:appList
					renderedInsert="#{identityBean.hasPermission('perfil.gerenciar.inserir')}"
					rederedView="#{identityBean.hasPermission('perfil.gerenciar.visualizar')}"
					rederedEdit="#{identityBean.hasPermission('perfil.gerenciar.editar')}"
					rederedRemove="#{identityBean.hasPermission('perfil.gerenciar.deletar')}"
					managedBeanName="#{perfilBean}">
				</app:appList>
			</div>
			</h:form>

			<h:form id="formPesquisa"
				rendered="#{identityBean.hasPermission('perfil.gerenciar.pesquisar')}">
				<div class="ui-fluid">
					<p:fieldset legend="#{msg.labelTituloFiltroPerfils}">

						<p:panelGrid columns="2" layout="grid" id="panelGrid"
							styleClass="ui-panelgrid-blank panelgrid-noborder"
							columnClasses="ui-grid-col-2, ui-grid-col-9">

							<p:outputLabel value="#{msg.labelNomePapel}:" for="idSearchPapel" />
							<p:inputText id="idSearchPapel" value="#{perfilBean.filtro.nome}"
								placeholder="#{msg.labelNomePapel}" maxlength="255" />

						</p:panelGrid>

						<div style="margin-top: 10px; margin-bottom: 10px;">
							<p:commandButton id="btPesquisar" value="#{msg.btnConsultar}"
								action="#{perfilBean.inicializaLista}"
								icon="fa fa-search" update=":formTabela :formPesquisa growl"
								style="width:120px; margin-left: 3px;" />
						</div>
					</p:fieldset>
				</div>
			</h:form>

			<h:form id="formTabela"
				rendered="#{identityBean.hasPermission('perfil.gerenciar.pesquisar') and not empty perfilBean.selecionados}"
				prependId="false">
				<f:metadata>
					<f:event listener="#{perfilBean.beginConversation()}"
						type="preRenderView" />
				</f:metadata>

				<p:dataTable id="idTbl" value="#{perfilBean.selecionados}" var="entidade" emptyMessage="Nenhum dado encontrado." rows="5" 
		    		paginator="true" rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="true" paginatorPosition="bottom"
			    	selectionMode="single" reflow="true" selection="#{perfilBean.selecionado}" rowKey="#{entidade.id}"
        			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			        currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} páginas">
			        <p:ajax event="rowSelect" update=":formPesquisa :formTabela formBtnCadastrar"/>
			    	<f:facet name="header">
    					#{msg.labelListaDePerfisCadastrados}
	    			</f:facet>
					
					<p:column headerText="Nome">
						<h:outputText value="#{entidade.nome}" />
					</p:column>
					
				</p:dataTable>

			</h:form>

			<h:form
				rendered="#{identityBean.hasPermission('perfil.gerenciar.pesquisar') and empty perfilBean.selecionados}">
				<p:panel>
					<div style="margin-top: 20px;">
						<h:outputText value="#{msg.msgListagemVazia}"
							style="font-size: 13px; font-weight: bold;" />
					</div>
				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>