<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>

    <ui:define name="head">
           <script type="text/javascript">
               //<![CDATA[
               function skinBar() {
                   this.cfg.shadow = false;
                   this.cfg.title = '';
                   this.cfg.seriesColors = ['#9fd037','#f7cb00'];
                   this.cfg.grid = {
                       background: '#ffffff',
                       borderColor: '#ffffff',
                       gridLineColor: '#dce2e7',
                       shadow: false
                   };
                   this.cfg.axesDefaults = {
                       borderWidth: 0.1,
                       borderColor: 'dce2e7',
                       rendererOptions: {
                           textColor: '#2d353c'
                       }
                   };
                   this.cfg.seriesDefaults = {
                       shadow: false,
                       lineWidth: 1,
                       renderer: $.jqplot.BarRenderer,
                       markerOptions: {
                           shadow: false,
                           size: 7,
                           style: 'circle'
                       }
                   }
               }
               //]]>  
           </script>
           <style type="text/css">
               .main-content {
                   padding: 0;
               }
           </style>
       </ui:define>

    <ui:define name="content">
    	<h:form id="formTabela"	prependId="false">
				<f:metadata>
					<f:event listener="#{graficoVendaBean.init()}"
						type="preRenderView" />
				</f:metadata>
	        <div class="ui-g dashboard">            
	            <div class="ui-g-12 ui-md-12 ui-lg-12">
	                <p:panel header="Vendas por quinzena" styleClass="chart-panel">
	                	<p:chart type="line" model="#{graficoVendaBean.lineModel}" responsive="true"/>
	                </p:panel>
				</div>
				 <div class="ui-g-12 ui-md-12 ui-lg-12">
	                <p:panel header="Vendas por quinzena" styleClass="chart-panel">
	                	<p:chart type="bar" model="#{graficoVendaBean.barModel}" responsive="true"/>
	                </p:panel>
				</div>
	        </div>
        </h:form>
    </ui:define>

</ui:composition>