<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	template="/WEB-INF/template.xhtml">
	
	<ui:define name="content">
		 
		 <h:head>
	        <style type="text/css">
	            .red_color{
	                color: red !important;
	            }
	        </style>
	        
	           <script type="text/javascript">
	        	
	        	function cleanForm() {
	        		var servidor_smtp = document.getElementById('formulario:descricao').value;
	        		if(!servidor_smtp){
	        			document.getElementById('formulario:descricao').value = '';
	        		}
	        	}
	        	window.onload = cleanForm;
	        	
	        	function selectAllCheckBoxes(manyCheckBoxes, estado) {
	        		   manyCheckBoxes.inputs.each(function() {
	        		      $(this).prop('checked', estado);
	        		      $(this).trigger('click');
	        		   });
	        		}
	        </script>
	        
	    </h:head>
	
		<h:outputScript library="js" name="scripts.js" />
		
		<p:panel id="cadPermissao">
		
			<f:facet name="header">
				<span class="ui-panel-title">
					<i class="fa fa-user" style="width: 20px !important;"/> 
					<h:outputText value="Permissão [001]" style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;"/>
				</span>
				
	         </f:facet>
	         
			<h:form id="formulario" enctype="multipart/form-data" 
				rendered="#{(identityBean.hasPermission('permissao.gerenciar.visualizar') and permissaoBean.renderizaVisualizar) 
							or (identityBean.hasPermission('permissao.gerenciar.inserir') and (empty permissaoBean.selecionado.id)) 
							or (identityBean.hasPermission('permissao.gerenciar.editar') and  (not empty permissaoBean.selecionado.id))}" >
			
				<div class="ui-fluid">
					<div style="text-align:left; height:auto; margin-top:20px; margin-bottom: 20px; ">
						<h:outputText value="Dados Permissão" 
							style="font-size:16px;color:#fd6a33;"/>
					</div>	
				
					<p:panelGrid columns="2" layout="grid" id="panelGrid"
						styleClass="ui-panelgrid-blank form-group"
						columnClasses="ui-grid-col-2,ui-grid-col-8">
						
						<p:outputLabel value="Descrição" for="descricao" />
						<p:inputText id="descricao" value="#{permissaoBean.selecionado.descricao}"
							readonly="#{permissaoBean.renderizaVisualizar}"
							placeholder="Descrição" required="true"
							requiredMessage="Descrição é obrigatório" maxlength="10"
							style="width:250px;"/>
							
							
					</p:panelGrid>
					
					<div style="text-align:left; height:auto; margin-bottom: 20px;margin-top:20px;">
						<h:outputText value="(*) campos obrigatórios"
							style="font-size:12px;color:#fd6a33;font-style:italic;"/>
					</div>
					
					<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
					<app:appForm id="idTbl"
						rederedSave="#{(not permissaoBean.renderizaVisualizar) and ((identityBean.hasPermission('permissao.gerenciar.inserir') and (empty permissaoBean.selecionado.id)) 
										or (identityBean.hasPermission('permissao.gerenciar.editar') and  (not empty permissaoBean.selecionado.id)))}"
						rederedClear="#{(not permissaoBean.renderizaVisualizar) 
										and (empty permissaoBean.selecionado.id and identityBean.hasPermission('permissao.gerenciar.inserir'))}"
						rederedSearch="#{identityBean.hasPermission('permissao.gerenciar.deletar')}"
						managedBeanName="#{permissaoBean}">
					</app:appForm>
					</div>
				</div>
				
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>