
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="managedBeanName"
			type="br.com.optimized.generico.controller.AbstractBean" required="true"
			shortDescription="Nome do managedBean do componente" />
		
		<composite:attribute name="rederedSave"
			type="java.lang.Boolean" required="true"
			shortDescription="Permissões de utilização" />
		
		<composite:attribute name="rederedClear"
			type="java.lang.Boolean" required="true"
			shortDescription="Permissões de utilização" />
			
		<composite:attribute name="rederedSearch"
			type="java.lang.Boolean" required="true"
			shortDescription="Permissões de utilização" />
	</composite:interface>

	<composite:implementation>
		<p:commandButton icon="fa fa-save" value="#{msg.btnSalvar}"
			title="#{msg.labelVisualizarDetalhes}"
			rendered="#{cc.attrs.rederedSave}"
			style="width:80px; margin-left: 3px;"
			action="#{cc.attrs.managedBeanName.salvar()}"
			update=":formulario growl"/>

		<p:commandButton icon="fa fa-times" value="#{msg.btnLimpar}"
			rendered="#{cc.attrs.rederedClear}"
			style="width:80px; margin-left: 3px;"
			action="#{cc.attrs.managedBeanName.cancelar()}"
			update=":formulario growl"/>
			
		<p:commandButton icon="fa fa-caret-left" value="#{msg.btnVoltar}"
			immediate="true"
			rendered="#{cc.attrs.rederedSearch}"
			style="width:80px; margin-left: 3px;"
			action="#{cc.attrs.managedBeanName.retornarPesquisa()}"
			update=":formulario growl"/>
	</composite:implementation>

</html>