
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="managedBeanName"
			type="br.com.optimized.generico.controller.AbstractBean" required="true"
			shortDescription="Nome do managedBean do componente" />
		
		<composite:attribute name="rederedInsert"
			type="java.lang.Boolean" required="true"
			shortDescription="Permissões de utilização" />
		
		<composite:attribute name="rederedView"
			type="java.lang.Boolean" required="true"
			shortDescription="Permissões de utilização" />
		
		<composite:attribute name="rederedEdit"
			type="java.lang.Boolean" required="true"
			shortDescription="Permissões de utilização" />
			
		<composite:attribute name="rederedRemove"
			type="java.lang.Boolean" required="true"
			shortDescription="Permissões de utilização" />
	</composite:interface>

	<composite:implementation>
		<p:commandButton
			title="Novo" styleClass="green-btn raised-btn rounded-btn btn"
			rendered="#{cc.attrs.rederedEdit}"
			action="#{cc.attrs.managedBeanName.novo()}" id="btnNovo"
			icon="fa fa-plus"
			update="formPesquisa formTabela formBtnCadastrar" />
	
	
		<p:commandButton icon="fa fa-eye" styleClass="orange-btn raised-btn rounded-btn btn"
			title="#{msg.labelVisualizarDetalhes}"
			rendered="#{cc.attrs.rederedView}"
			action="#{cc.attrs.managedBeanName.formVisualizar()}"
			update=":formTabela :formPesquisa formBtnCadastrar">
		</p:commandButton>

		<p:commandButton icon="ui-icon-pencil" styleClass="green-btn raised-btn rounded-btn btn"
			titprincipalle="#{msg.labelTituloBtnEditar}"
			rendered="#{cc.attrs.rederedEdit}"
			action="#{cc.attrs.managedBeanName.editar()}"
			update=":formPesquisa :formTabela formBtnCadastrar">
		</p:commandButton>
		
		<p:commandButton icon="ui-icon-trash" title="Excluir" oncomplete="PF('confirmacaoExclusao').show()"
			styleClass="black-btn raised-btn rounded-btn" rendered="#{cc.attrs.rederedRemove}"
			process="@this" update=":formPesquisa :formTabela formBtnCadastrar">
		</p:commandButton>
  			
   		<p:confirmDialog header="Exclusão de item" style="color: #000000"
    		message="Tem certeza que deseja excluir o item #{cc.attrs.managedBeanName.selecionado.id}?"
    		widgetVar="confirmacaoExclusao"	id="confirmacaoExclusaoDialog">
    		<p:button value="Não" onclick="PF('confirmacaoExclusao').hide(); return false;" />
    		<p:commandButton value="Sim" oncomplete="PF('confirmacaoExclusao').hide();"
    			action="#{cc.attrs.managedBeanName.excluir}" process="@this"
    			update=":formPesquisa :idTbl growl" id="yesButton" />
    	</p:confirmDialog>

	</composite:implementation>

</html>