<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	template="/WEB-INF/template.xhtml">
	
	<ui:define name="content">
		 
		 <h:head>
	        <style type="text/css">
	            .red_color{
	                color: red !important;
	            }
	        </style>
	        
	    </h:head>
	
		<h:outputScript library="js" name="scripts.js" />
		
		<p:panel id="cadCidade">
		
			<f:facet name="header">
				<span class="ui-panel-title">
					<i class="fa fa-user" style="width: 20px !important;"/> 
					<h:outputText value="Cidade [001]" style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;"/>
				</span>
				
	         </f:facet>
	         
			<h:form id="formulario" enctype="multipart/form-data" 
				rendered="#{(identityBean.hasPermission('cidade.gerenciar.visualizar') and cidadeBean.renderizaVisualizar) 
							or (identityBean.hasPermission('cidade.gerenciar.inserir') and (empty cidadeBean.selecionado.id)) 
							or (identityBean.hasPermission('cidade.gerenciar.editar') and  (not empty cidadeBean.selecionado.id))}" >
			
				<div class="ui-fluid">
					<div style="text-align:left; height:auto; margin-top:20px; margin-bottom: 20px; ">
						<h:outputText value="Dados Cidade" 
							style="font-size:16px;color:#fd6a33;"/>
					</div>	
				
					<p:panelGrid columns="2" layout="grid" id="panelGrid"
						styleClass="ui-panelgrid-blank form-group"
						columnClasses="ui-grid-col-2,ui-grid-col-8">
						
						<p:outputLabel value="Nome" for="nome" />
						<p:inputText id="nome" value="#{cidadeBean.selecionado.nome}"
							readonly="#{cidadeBean.renderizaVisualizar}"
							placeholder="Nome" required="true"
							requiredMessage="Nome é obrigatória" maxlength="10"
							style="width:250px;"/>
							
							
					</p:panelGrid>
					
					<div style="text-align:left; height:auto; margin-bottom: 20px;margin-top:20px;">
						<h:outputText value="(*) campos obrigatórios"
							style="font-size:12px;color:#fd6a33;font-style:italic;"/>
					</div>
					
					<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
						<app:appForm id="idTbl"
							rederedSave="#{(not cidadeBean.renderizaVisualizar) and ((identityBean.hasPermission('cidade.gerenciar.inserir') and (empty cidadeBean.selecionado.id)) 
											or (identityBean.hasPermission('cidade.gerenciar.editar') and  (not empty cidadeBean.selecionado.id)))}"
							rederedClear="#{(not cidadeBean.renderizaVisualizar) 
											and (empty cidadeBean.selecionado.id and identityBean.hasPermission('cidade.gerenciar.inserir'))}"
							rederedSearch="#{identityBean.hasPermission('cidade.gerenciar.deletar')}"
							managedBeanName="#{cidadeBean}">
						</app:appForm>
					</div>
				</div>
				
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>