<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<p:panel id="cadProduto">
			<f:facet name="header">
				<span class="ui-panel-title"> <i class="fa fa-institution"
					style="width: 20px !important;" /> <h:outputText value="Produto"
						style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;" />
				</span>
			</f:facet>

			<h:form id="formBtnCadastrar">
	         <div style="margin-bottom: 20px">
				<app:appList
					renderedInsert="#{identityBean.hasPermission('produto.gerenciar.inserir')}"
					rederedView="#{identityBean.hasPermission('produto.gerenciar.visualizar')}"
					rederedEdit="#{identityBean.hasPermission('produto.gerenciar.editar')}"
					rederedRemove="#{identityBean.hasPermission('produto.gerenciar.deletar')}"
					managedBeanName="#{produtoBean}">
				</app:appList>
			</div>
			</h:form>

			<h:form id="formPesquisa"
				rendered="#{identityBean.hasPermission('produto.gerenciar.pesquisar')}">
				<div class="ui-fluid">
					<p:fieldset legend="Consulta Produto">

						<p:panelGrid columns="2" layout="grid" id="panelGrid"
							styleClass="ui-panelgrid-blank panelgrid-noborder"
							columnClasses="ui-grid-col-2, ui-grid-col-9">

							<p:outputLabel value="Nome" for="idSearchPapel" />
							<p:inputText id="idSearchPapel"
								value="#{produtoBean.filtro.nome}" placeholder="Nome"
								maxlength="255" />

						</p:panelGrid>

						<div style="margin-top: 10px; margin-bottom: 10px;">
							<p:commandButton id="btPesquisar" value="#{msg.btnConsultar}"
								action="#{produtoBean.inicializaLista}" icon="fa fa-search"
								update=":formTabela :formPesquisa growl"
								style="width:120px; margin-left: 3px;" />
						</div>
					</p:fieldset>
				</div>
			</h:form>

			<h:form id="formTabela"
				rendered="#{identityBean.hasPermission('produto.gerenciar.pesquisar') and not empty produtoBean.selecionados}"
				prependId="false">
				<f:metadata>
					<f:event listener="#{produtoBean.beginConversation()}"
						type="preRenderView" />
				</f:metadata>

				<p:dataTable id="idTbl" value="#{produtoBean.selecionados}"
					var="entidade" emptyMessage="Nenhum dado encontrado." rows="5"
					paginator="true" rowsPerPageTemplate="5,10,15"
					paginatorAlwaysVisible="true" paginatorPosition="bottom"
					selectionMode="single" reflow="true"
					selection="#{produtoBean.selecionado}" rowKey="#{entidade.id}"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} páginas">
					<p:ajax event="rowSelect" update=":formPesquisa :formTabela formBtnCadastrar"/>
					<f:facet name="header">
    					Lista de produtos cadastradas
	    			</f:facet>

					<p:column headerText="Código">
						<h:outputText value="#{entidade.id}" />
					</p:column>
					<p:column headerText="Referência">
						<h:outputText value="#{entidade.referencia}" />
					</p:column>
					<p:column headerText="Nome">
						<h:outputText value="#{entidade.nome}" />
					</p:column>
					<p:column headerText="Categoria">
						<h:outputText value="#{entidade.categoria.descricao}" />
					</p:column>
					<p:column headerText="Valor">
						<h:outputText value="#{entidade.valorVenda}">
							<f:convertNumber minFractionDigits="2" />
						</h:outputText>
					</p:column>
					<p:column headerText="Foto">
						<img src="${entidade.foto}" rendered="#{entidade.foto}"
						style="margin: 2px; max-width: 100px; max-height: 100px;"/>				
					</p:column>

				</p:dataTable>

				<br />


			</h:form>

			<h:form
				rendered="#{identityBean.hasPermission('produto.gerenciar.pesquisar') and empty produtoBean.selecionados}">
				<p:panel>
					<div style="margin-top: 20px;">
						<h:outputText value="#{msg.msgListagemVazia}"
							style="font-size: 13px; font-weight: bold;" />
					</div>
				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>