<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:head>
			<style type="text/css">
.red_color {
	color: red !important;
}
</style>

		</h:head>

		<h:outputScript library="js" name="scripts.js" />

		<p:panel id="cadProduto">

			<f:facet name="header">
				<span class="ui-panel-title"> <i class="fa fa-user"
					style="width: 20px !important;" /> <h:outputText
						value="Produto [001]"
						style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;" />
				</span>

			</f:facet>

			<div class="ui-g">
				<div class="ui-g-12">
					<h:form id="formulario" enctype="multipart/form-data"
						rendered="#{(identityBean.hasPermission('produto.gerenciar.visualizar') and produtoBean.renderizaVisualizar) 
							or (identityBean.hasPermission('produto.gerenciar.inserir') and (empty produtoBean.selecionado.id)) 
							or (identityBean.hasPermission('produto.gerenciar.editar') and  (not empty produtoBean.selecionado.id))}">

						<div class="ui-fluid">
							<div
								style="text-align: left; height: auto; margin-top: 20px; margin-bottom: 20px;">
								<h:outputText value="Dados Produto"
									style="font-size:16px;color:#fd6a33;" />
							</div>

							<div class="ui-g-12 ui-md-2">
								<p:outputLabel value="Referência" for="referencia" />
								<p:inputText id="referencia"
									value="#{produtoBean.selecionado.referencia}"
									readonly="#{produtoBean.renderizaVisualizar}"
									placeholder="Referência" required="true"
									requiredMessage="Referência é obrigatória" maxlength="6" />
							</div>

							<div class="ui-g-12 ui-md-6">
								<p:outputLabel value="Nome" for="nome" />
								<p:inputText id="nome" value="#{produtoBean.selecionado.nome}"
									readonly="#{produtoBean.renderizaVisualizar}"
									placeholder="Nome" required="true"
									requiredMessage="Nome é obrigatória" />
							</div>

							<div class="ui-g-12 ui-md-2">
								<p:outputLabel value="Categoria" for="categoria" />
								<p:selectOneMenu id="categoria" required="true"
									requiredMessage="Categoria é obrigatória"
									value="#{produtoBean.selecionado.categoria}"
									converter="entityConverter">
									<f:selectItem itemLabel="Selecione a categoria" />
									<f:selectItems value="#{produtoBean.categorias}"
										var="categoria" itemValue="#{categoria}"
										itemLabel="#{categoria.descricao}" />
								</p:selectOneMenu>
							</div>

							<div class="ui-g-12 ui-md-2">
								<p:outputLabel value="Tipo produto" for="tipoProduto" />
								<p:selectOneMenu id="tipoProduto"
									value="#{produtoBean.selecionado.tipoProduto}">
									<f:selectItem itemLabel="Selecione o tipo" />
									<f:selectItems value="#{produtoBean.tipoProduto}"
										var="tipoProduto" itemValue="#{tipoProduto}"
										itemLabel="#{tipoProduto.descricao}" />
								</p:selectOneMenu>
							</div>

							<div class="ui-g-12 ui-md-12">
								<p:outputLabel value="Descrição" for="descricao" />
								<p:inputTextarea id="descricao"
									value="#{produtoBean.selecionado.descricao}"
									readonly="#{produtoBean.renderizaVisualizar}" rows="6"
									cols="33" placeholder="Descrição" />
							</div>
							
							<div class="ui-g-12 ui-md-12">
								<p:outputLabel value="Observação" for="observacao" />
								<p:inputTextarea id="observacao"
									value="#{produtoBean.selecionado.observacao}"
									readonly="#{produtoBean.renderizaVisualizar}" rows="6"
									cols="33" placeholder="Observação" />
							</div>
							
							<div class="ui-g-12 ui-md-12">
								<p:outputLabel value="Fornecedor" for="fornecedor" />
								<p:autoComplete id="fornecedor" forceSelection="true" var="fornecedor"
									itemLabel="#{fornecedor.nomeFantasia}" itemValue="#{fornecedor}"
									value="#{produtoBean.selecionado.fornecedor}"
									converter="entityConverter"
									completeMethod="#{produtoBean.autoCompleteFornecedor}"
									minQueryLength="2" maxlength="60"
									placeholder="Pesquise e adicione um fornecedor pelo nome fantasia" required="true"
									requiredMessage="Fornecedor é obrigatório">
								</p:autoComplete>
							</div>

							<div class="ui-g-12 ui-md-3">
								<p:outputLabel value="Valor de compra" for="valorCompra" />
								<p:inputText id="valorCompra" styleClass="moeda"
									value="#{produtoBean.selecionado.valorCompra}"
									readonly="#{produtoBean.renderizaVisualizar}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</p:inputText>
							</div>

							<div class="ui-g-12 ui-md-3">
								<p:outputLabel value="Valor de venda" for="valorVenda" />
								<p:inputText id="valorVenda" styleClass="moeda"
									value="#{produtoBean.selecionado.valorVenda}"
									readonly="#{produtoBean.renderizaVisualizar}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</p:inputText>
							</div>

							<div class="ui-g-12 ui-md-3">
								<p:outputLabel value="Valor da comissão" for="comissao" />
								<p:inputText id="comissao" styleClass="moeda"
									value="#{produtoBean.selecionado.comissao}"
									readonly="#{produtoBean.renderizaVisualizar}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</p:inputText>
							</div>

							<div class="ui-g-12 ui-md-3">
								<p:outputLabel for="@next" value="Estoque" />
								<p:spinner id="estoque"
									value="#{produtoBean.selecionado.quantidadeEstoque}" min="0"
									required="true" requiredMessage="Estoque é obrigatória"
									readonly="#{produtoBean.renderizaVisualizar}" max="100" />
							</div>

							<div class="ui-g-12 ui-md-12" style="text-align: center; margin-top: 10px;">
								<p:outputPanel class="box box-solid box-primary box-foto">
									<div class="box-body text-center">
										<f:subview id="produto-foto-view">
							                <img src="${produtoBean.selecionado.foto}" rendered="#{produtoBean.selecionado.foto}"
							                style="margin: 2px; max-width: 250px; max-height: 150px;"/>
										</f:subview>
										<p:fileUpload
											listener="#{produtoBean.uploadImagem}"
											mode="advanced" auto="true" dragDropSupport="true"
											update="@(.box-foto)" sizeLimit="15000000" fileLimit="1"
											allowTypes="/(\.|\/)(gif|jpe?g|png)$/" accept="image/*"
											label="Foto" />
								
										<p:commandLink styleClass="black-btn raised-btn rounded-btn"
											update="@(.box-foto)" oncomplete="PF('confirmacaoExclusao').show()"
											rendered="#{not empty produtoBean.selecionado.foto}">
											<i class="fa fa-trash" />Remover</p:commandLink>
										
										<p:confirmDialog header="Exclusão de item" style="color: #000000"
								    		message="Tem certeza que deseja excluir a foto?"
								    		widgetVar="confirmacaoExclusao"	id="confirmacaoExclusaoDialog">
								    		<p:button value="Não" onclick="PF('confirmacaoExclusao').hide(); return false;" style="width: 100px;"/>
								    		<p:commandButton value="Sim" oncomplete="PF('confirmacaoExclusao').hide();"
								    			action="#{produtoBean.removerImagem}" process="@this" style="width: 100px;"
								    			update="@(.box-foto)" id="yesButton" />
								    	</p:confirmDialog>
									</div>
								</p:outputPanel>
							</div>

							<div class="ui-g-12 ui-md-12">

								<div
									style="text-align: left; height: auto; margin-bottom: 20px; margin-top: 20px;">
									<h:outputText value="(*) campos obrigatórios"
										style="font-size:12px;color:#fd6a33;font-style:italic;" />
								</div>

								<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
									<app:appForm id="idTbl"
										rederedSave="#{(not produtoBean.renderizaVisualizar) and ((identityBean.hasPermission('produto.gerenciar.inserir') and (empty produtoBean.selecionado.id)) 
														or (identityBean.hasPermission('produto.gerenciar.editar') and  (not empty produtoBean.selecionado.id)))}"
										rederedClear="#{(not produtoBean.renderizaVisualizar) 
														and (empty produtoBean.selecionado.id and identityBean.hasPermission('produto.gerenciar.inserir'))}"
										rederedSearch="#{identityBean.hasPermission('produto.gerenciar.deletar')}"
										managedBeanName="#{produtoBean}">
									</app:appForm>
								</div>
							</div>
						</div>

					</h:form>
				</div>
			</div>
		</p:panel>
	</ui:define>
</ui:composition>