<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>

    <ui:define name="head">
           <script type="text/javascript">
               //<![CDATA[
               function skinBar() {
                   this.cfg.shadow = false;
                   this.cfg.title = '';
                   this.cfg.seriesColors = ['#9fd037','#f7cb00'];
                   this.cfg.grid = {
                       background: '#ffffff',
                       borderColor: '#ffffff',
                       gridLineColor: '#dce2e7',
                       shadow: false
                   };
                   this.cfg.axesDefaults = {
                       borderWidth: 0.1,
                       borderColor: 'dce2e7',
                       rendererOptions: {
                           textColor: '#2d353c'
                       }
                   };
                   this.cfg.seriesDefaults = {
                       shadow: false,
                       lineWidth: 1,
                       renderer: $.jqplot.BarRenderer,
                       markerOptions: {
                           shadow: false,
                           size: 7,
                           style: 'circle'
                       }
                   }
               }
               //]]>  
           </script>
           <style type="text/css">
               .main-content {
                   padding: 0;
               }
           </style>
       </ui:define>

    <ui:define name="content">
    			<h:form id="formTabela"
				prependId="false">
				<f:metadata>
					<f:event listener="#{dashboardBean.init()}"
						type="preRenderView" />
				</f:metadata>
        <div class="ui-g dashboard">            
 			<div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="ui-g card overview-box overview-box-1">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-paper.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">R$
	                        <h:outputText value="#{dashboardBean.valorItensEstoque.valor}" >
									<f:convertNumber minFractionDigits="2" />
							</h:outputText>
						</span>
                        <span class="overview-box-name">Valor do estoque</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="ui-g card overview-box overview-box-2">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-estoque.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">#{dashboardBean.valorItensEstoque.totalItens}</span>
                        <span class="overview-box-name">Itens no estoque</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
            	<div class="ui-g card overview-box overview-box-4">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-orders.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">#{dashboardBean.totalClientes}</span>
                        <span class="overview-box-name">Total de clientes</span>
                    </div>
                </div>
            </div>
             <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="ui-g card overview-box overview-box-1">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-dolar.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">R$
                            <h:outputText value="#{dashboardBean.vendasNoAno}" >
								<f:convertNumber minFractionDigits="2" />
							</h:outputText></span>
                        <span class="overview-box-name">Vendas no ano</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="ui-g card overview-box overview-box-2">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-dinheiro.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">R$
	                        <h:outputText value="#{dashboardBean.vendasNoMes}" >
								<f:convertNumber minFractionDigits="2" />
							</h:outputText>
						</span>
                        <span class="overview-box-name">Vendas no mês</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
            	<div class="ui-g card overview-box overview-box-4">
                    <div class="ui-g-4 overview-box-icon">
                        <p:graphicImage name="images/icon-dolar.png" library="verona-layout" />
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">R$
	                        <h:outputText value="#{dashboardBean.ticketMedio}" >
								<f:convertNumber minFractionDigits="2" />
							</h:outputText>
						</span>
                        <span class="overview-box-name">Venda média</span>
                    </div>
                </div>
            </div>
        </div>
        </h:form>
    </ui:define>

</ui:composition>