<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Gestão de Patrimônio</title>
</h:head>

<h:body styleClass="login-body">
	<f:metadata>
		<f:event listener="#{loginBean.timeout()}" type="preRenderView" />
	</f:metadata>
	<f:loadBundle basename="br.com.optimized.Messages" var="msg" />
	<div class="login-panel ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 logo-container">
				<p:graphicImage name="images/logo-dark.png" library="verona-layout" />
				<h1>BEM VINDO AO GESTOP</h1>
				<h2>GESTÃO PARA SEU NEGÓCIO</h2>
			</div>

			<h:form>
				<p:growl widgetVar="alert" closable="true" sticky="true" />
			</h:form>
			<h:form styleClass="user" id="login" prependId="false" action="#"
				onsubmit="return">

				<div class="ui-g-12">
					<p:inputText styleClass="form-control form-control-user"
						id="usuario" maxlength="30" autocomplete="off"
						requiredMessage="#{msg.msgRequiredUsuarioLogin}"
						placeholder="#{msg.labelPlaceHolderSeuLogin}" />
				</div>
				<div class="ui-g-12">
					<p:password styleClass="form-control form-control-user" id="senha"
						maxlength="50" autocomplete="off"
						requiredMessage="#{msg.msgRequiredSenhaLogin}"
						placeholder="#{msg.labelPlaceHolderSuaSenha}">
						<f:validateLength minimum="8" />
					</p:password>
				</div>
				<div class="ui-g-12 button-container">
					<p:commandButton type="submit" value="#{msg.btnLogin}"
														 ajax="false" styleClass="green-btn raised-btn rounded-btn"/>
				</div>
			</h:form>
		</div>
		 <a href="http://209.145.49.81:4615/gesvd/" target="_blank">Catalogo produtos</a>
	</div>

	<h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css"
		library="verona-layout" />
</h:body>

</html>