<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div class="footer clearfix">
        <p:graphicImage name="images/logo-dark.png" library="verona-layout" />
        <span class="app-name">GESTOP</span>
        <div class="footer-right">
            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
            <span>Optimized Solutions todos os direitos reservados - 2020</span>
        </div>
        
    </div>
</ui:composition>