<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pv="http://primefaces.org/verona">

    <div class="layout-menu-wrapper">
        <div class="nano">
            <div class="nano-content sidebar-scroll-content">
                <div class="layout-menu-container">
                    <h:form id="menuform">
                        <pv:menu>
                            <p:menuitem id="om_dashboard" value="DASHBOARD" icon="fa fa-home" outcome="/dashboard"/>
							<p:submenu id="idCadastro" label="CADASTRO" icon="fa fa-file-text-o">
								<p:menuitem value="CIDADE"
									outcome="/cidade/cidadeList.xhtml" icon="fa fa-tags" 
									rendered="#{identityBean.hasPermission('cidade') 
									 	   	 and identityBean.hasPermission('cidade.gerenciar') 
									 	   	 and identityBean.hasPermission('cidade.gerenciar.pesquisar')}"/>
									 	   	 
								<p:menuitem value="CLIENTE"
									outcome="/cliente/clienteList.xhtml" icon="fa fa-user-plus" 
									rendered="#{identityBean.hasPermission('cliente') 
									 	   	 and identityBean.hasPermission('cliente.gerenciar') 
									 	   	 and identityBean.hasPermission('cliente.gerenciar.pesquisar')}"/>
									 	   	 
								<p:menuitem value="CATEGORIA"
									outcome="/categoria/categoriaList.xhtml" icon="fa fa-newspaper-o" 
									rendered="#{identityBean.hasPermission('categoria') 
									 	   	 and identityBean.hasPermission('categoria.gerenciar') 
									 	   	 and identityBean.hasPermission('categoria.gerenciar.pesquisar')}"/>
									 	   	 
								<p:menuitem value="PRODUTO"
									outcome="/produto/produtoList.xhtml" icon="fa fa-cart-arrow-down" 
									rendered="#{identityBean.hasPermission('produto') 
									 	   	 and identityBean.hasPermission('produto.gerenciar') 
									 	   	 and identityBean.hasPermission('produto.gerenciar.pesquisar')}"/>
									 	   	 
								<p:menuitem value="EMPRESA"
									outcome="/empresa/empresaList.xhtml" icon="fa fa-university " 
									rendered="#{identityBean.hasPermission('empresa') 
									 	   	 and identityBean.hasPermission('empresa.gerenciar') 
									 	   	 and identityBean.hasPermission('empresa.gerenciar.pesquisar')}"/>
									 	   	 
								<p:menuitem value="FORNECEDOR"
									outcome="/fornecedor/fornecedorList.xhtml" icon="fa fa-building-o" 
									rendered="#{identityBean.hasPermission('fornecedor') 
									 	   	 and identityBean.hasPermission('fornecedor.gerenciar') 
									 	   	 and identityBean.hasPermission('fornecedor.gerenciar.pesquisar')}"/>
							</p:submenu>
							<p:submenu id="idVenda" label="VENDAS E PEDIDOS" icon="fa fa-cart-arrow-down">
								<p:menuitem value="VENDA"
									outcome="/venda/vendaList.xhtml" icon="fa fa-handshake-o" 
									rendered="#{identityBean.hasPermission('venda') 
									 	   	 and identityBean.hasPermission('venda.gerenciar') 
									 	   	 and identityBean.hasPermission('venda.gerenciar.pesquisar')}"/>
							</p:submenu>
							<p:submenu id="idGrafico" label="GRÁFICO" icon="fa fa-line-chart">
								<p:menuitem value="VENDA REALIZADAS POR PERÍODO"
									outcome="/grafico/chart.xhtml" icon="fa fa-pie-chart" 
									rendered="#{identityBean.hasPermission('grafico.vendas')}"/>
							</p:submenu>
							<p:submenu id="idRelatorio" label="RELATÓRIO" icon="fa fa-files-o">
								<p:menuitem value="VENDAS EMITIDAS"
									outcome="/usuario/usuarioList.xhtml" icon="fa fa-file-pdf-o" 
									rendered="#{identityBean.hasPermission('usuario') 
									 	   	 and identityBean.hasPermission('usuario.gerenciar') 
									 	   	 and identityBean.hasPermission('usuario.gerenciar.pesquisar')}"/>
							</p:submenu>
                   			<p:submenu id="idSegurancao" label="ADMINISTRAÇÃO" icon="fa fa-gears">
								<p:menuitem value="USUÁRIO"
									outcome="/usuario/usuarioList.xhtml" icon="fa fa-user" 
									rendered="#{identityBean.hasPermission('usuario') 
									 	   	 and identityBean.hasPermission('usuario.gerenciar') 
									 	   	 and identityBean.hasPermission('usuario.gerenciar.pesquisar')}"/>
									 	   	 
								<p:menuitem value="PERFIL"
									outcome="/perfil/perfilList.xhtml" icon="fa fa-user-plus" 
									rendered="#{identityBean.hasPermission('perfil') 
									 	   	 and identityBean.hasPermission('perfil.gerenciar') 
									 	   	 and identityBean.hasPermission('perfil.gerenciar.pesquisar')}"/>
									 	   	 
								<p:menuitem value="PERMISSÃO"
									outcome="/permissao/permissaoList.xhtml" icon="fa fa-users" 
									rendered="#{identityBean.hasPermission('permissao') 
									 	   	 and identityBean.hasPermission('permissao.gerenciar') 
									 	   	 and identityBean.hasPermission('permissao.gerenciar.pesquisar')}"/>
							</p:submenu>

                        </pv:menu>
                    </h:form>
                </div>
            </div>
        </div>
    </div>

</ui:composition>
