<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title><ui:insert name="title">Gestão de Patrimônio</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="verona-layout" />
        <h:outputScript library="js" name="jquery.maskMoney.js"/>
        <h:outputScript name="js/layout.js" library="verona-layout" />
        <ui:insert name="head"/>
        <script>
    	if (window.PrimeFaces) {
           	PrimeFaces.settings.locale = 'pt_BR'; 
       	} 
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-93461466-1', 'auto');
          ga('send', 'pageview');

          function configurarMoeda() {
				$(".moeda").maskMoney({ decimal: ",", thousands: ".", allowZero: true });
			}
			
			$(document).ready(function() {
				configurarMoeda();
			});
        </script>
    </h:head>

    <h:body styleClass="main-body">
    	<p:ajaxStatus styleClass="ajax-status" onsuccess="configurarMoeda()">
			<f:facet name="start">
				<h:graphicImage library="images" name="/verona-layout/images/ajaxloadingbar.gif"/>
			</f:facet>
			<f:facet name="complete">
				<h:outputText value=""/>
			</f:facet>
		</p:ajaxStatus>
        <f:loadBundle basename="br.com.optimized.Messages" var="msg"/>
        <p:growl id="growl" closable="true" sticky="true" />
        
        <div class="layout-wrapper layout-menu-#{guestPreferences.menuMode}">
            <ui:include src="./topbar.xhtml" />
        
            <div class="layout-content">
                <ui:insert name="content"/>
            </div>
            
            <ui:include src="./footer.xhtml" />
        </div>
        
        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
           <f:facet name="start">
               <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
           </f:facet>

           <f:facet name="complete">
               <h:outputText value="" />
           </f:facet>
       </p:ajaxStatus>
       
       	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
		    <p:graphicImage name="/verona-layout/images/ajaxloadingbar.gif" />
		</p:dialog>
        
        <h:outputStylesheet name="css/nanoscroller.css" library="verona-layout" />
        <h:outputStylesheet name="css/style.css" library="verona-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="verona-layout" />
    </h:body>

</html>