<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pa="http://primefaces.org/verona">

    <div class="topbar">
        <div class="topbar-main">
            <a href="#" id="menu-button">
                <span class="fa fa-bars"></span>
            </a>
            <h:link outcome="/dashboard">
                <p:graphicImage name="images/logo-main.png" library="verona-layout" styleClass="logo"/>
            </h:link>
            <div class="app-name">GESTOP</div>
            
            <a href="#" id="user-display">
                <span class="username"><h:outputText value="#{identityBean.usuarioLogado.nome}"/></span>
                <span class="userrole"><h:outputText value="#{identityBean.usuarioLogado.perfil.nome}"/></span>
                <p:graphicImage name="images/logo-main.png" library="verona-layout" />
            </a>
            
            <ul id="topbar-menu" class="fadeInDown animated">
                <li>
                <a href="#{facesContext.externalContext.requestContextPath}/usuario/editar-senha.xhtml">
                    <i class="fa fa-fw fa-lock"/>
                    <span><h:outputText value="Editar senha usuário"/></span>
                </a>
            </li>
            
            <li>
                <a href="#{facesContext.externalContext.requestContextPath}/./logout">
                    <i class="fa fa-fw fa-sign-out"/>
                    <span>#{msg.labelSair}</span>
                 </a>
            </li>
            </ul>
        </div>

        <ui:include src="./menu.xhtml" />
    </div>

</ui:composition>