
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:app="http://java.sun.com/jsf/composite/application"
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:head>
			<style type="text/css">
.red_color {
	color: red !important;
}
</style>

		</h:head>

		<h:outputScript library="js" name="scripts.js" />
		<p:panel id="cadVenda">

			<f:facet name="header">
				<span class="ui-panel-title"> <i class="fa fa-user"
					style="width: 20px !important;" /> <h:outputText
						value="Venda [001]"
						style="font-family: Roboto Helvetica Neue sans-serif font-size: 15px;" />
				</span>

			</f:facet>

			<div class="ui-g">
				<div class="ui-g-12">
					<h:form id="formulario" enctype="multipart/form-data"
						rendered="#{(identityBean.hasPermission('venda.gerenciar.visualizar') and vendaBean.renderizaVisualizar) 
							or (identityBean.hasPermission('venda.gerenciar.inserir') and (empty vendaBean.selecionado.id)) 
							or (identityBean.hasPermission('venda.gerenciar.editar') and  (not empty vendaBean.selecionado.id))}">

						<div class="ui-fluid">
							<div 
								style="text-align: left; height: auto; margin-top: 20px; margin-bottom: 20px;">
								<h:outputText value="Dados Venda"
									style="font-size:16px;color:#fd6a33;" />
									
							</div>

							<div class="ui-g dashboard">
								<div class="ui-g-12 ui-md-6 ui-lg-4">
									<div class="ui-g card overview-box overview-box-1">
										<div class="ui-g-4 overview-box-icon">
											<p:graphicImage name="images/icon-dinheiro.png"
												library="verona-layout" />
										</div>
										<div class="ui-g-8">
										<span class="overview-box-count">R$
										<h:outputText value="#{vendaBean.selecionado.valorTotal}" id="total">
											<f:convertNumber minFractionDigits="2" />
										</h:outputText>
										</span>
											<span class="overview-box-name">Total</span>
										</div>
									</div>
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-4">
									<div class="ui-g card overview-box overview-box-2">
										<div class="ui-g-4 overview-box-icon">
											<p:graphicImage name="images/icon-paper.png"
												library="verona-layout" />
										</div>
										<div class="ui-g-8">
											<span class="overview-box-count">#{vendaBean.selecionado.status.descricao}</span>
											<span class="overview-box-name">Status</span>
										</div>
									</div>
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-4">
									<div class="ui-g card overview-box overview-box-4">
										<div class="ui-g-4 overview-box-icon">
											<p:graphicImage name="images/icon-time.png"
												library="verona-layout" />
										</div>
										<div class="ui-g-8">
											<span class="overview-box-count">Hoje</span> <span
												class="overview-box-name">Criação</span> <span
												class="overview-box-rate"> 
												<h:outputText value="#{vendaBean.selecionado.dataCadastro}">
													<f:convertDateTime pattern="dd.MM.yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>
								</div>

							</div>

							<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="Cliente" for="cliente" />
								<p:autoComplete id="cliente" forceSelection="true" var="cliente"
									itemLabel="#{cliente.nome}" itemValue="#{cliente}"
									value="#{vendaBean.selecionado.cliente}"
									converter="entityConverter"
									completeMethod="#{vendaBean.autoCompleteCliente}"
									minQueryLength="2" maxlength="60"
									placeholder="Pesquise e adicione um cliente pelo nome" required="true"
									requiredMessage="Cliente é obrigatório">
								</p:autoComplete>
							</div>

							<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="Valor de frete" for="valorFrete" />
								<p:inputText id="valorFrete" styleClass="moeda"
									value="#{vendaBean.selecionado.valorFrete}"
									readonly="#{vendaBean.renderizaVisualizar}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</p:inputText>
							</div>

							<div class="ui-g-12 ui-md-4">
								<p:outputLabel value="Valor de desconto" for="valorDesconto" />
								<p:inputText id="valorDesconto" styleClass="moeda"
									value="#{vendaBean.selecionado.valorDesconto}"
									readonly="#{vendaBean.renderizaVisualizar}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</p:inputText>
							</div>

							<div class="ui-g-12 ui-md-9">
								<p:outputLabel value="Produto" for="produto" />
								<p:autoComplete id="produto" forceSelection="true" var="produto"
									itemLabel="#{produto.nome}" itemValue="#{produto}"
									value="#{vendaBean.produtoSelecionado}"
									converter="entityConverter"
									completeMethod="#{vendaBean.autoCompleteProduto}"
									minQueryLength="3" maxlength="60"
									placeholder="Pesquise e adicione o produto pela referência ou nome">
								</p:autoComplete>
							</div>
							
							<div class="ui-g-12 ui-md-3">
								<p:outputLabel for="@next" value="Quantidade" />
								<p:spinner id="quantidade" value="#{vendaBean.quantidade}" min="1"
								required="true"	requiredMessage="Quantidade é obrigatória"
								readonly="#{vendaBean.renderizaVisualizar}" max="100">
								<p:ajax event="blur" process="@form" update="idTbl total produto quantidade growl" listener="#{vendaBean.adicionarProduto()}">
									<p:focus context="produto"/>
								</p:ajax>
								</p:spinner>
							</div>
							
					<p:dataTable id="idTbl" value="#{vendaBean.itensVenda}"
					var="entidade" emptyMessage="Você ainda não adicionou nenhum produto." >
					<f:facet name="header">
    					Lista de produtos selecionados
	    			</f:facet>

					<p:column headerText="Referência">
						<h:outputText value="#{entidade.produto.referencia}" />
					</p:column>
					<p:column headerText="Nome">
						<h:outputText value="#{entidade.produto.nome}" />
					</p:column>
					<p:column headerText="Valor">
						<h:outputText value="#{entidade.produto.valorVenda}" />
					</p:column>
					<p:column headerText="Quantidade">
						<h:outputText value="#{entidade.quantidade}" />
					</p:column>

				</p:dataTable>

							<div class="ui-g-12 ui-md-12">

								<div
									style="text-align: left; height: auto; margin-bottom: 20px; margin-top: 20px;">
									<h:outputText value="(*) campos obrigatórios"
										style="font-size:12px;color:#fd6a33;font-style:italic;" />
								</div>

							<div class="ui-g-12 ui-md-12" style="text-align: center; margin-top: -25px; margin-bottom: 20px;">
									 <p:splitButton value="#{msg.btnSalvar}" action="#{vendaBean.salvar}" rendered="#{(not vendaBean.renderizaVisualizar) 
										and ((identityBean.hasPermission('venda.gerenciar.inserir') and (empty vendaBean.selecionado.id)) 
										or (identityBean.hasPermission('venda.gerenciar.editar') and  (not empty vendaBean.selecionado.id)))}"
										update=":formulario growl"
										style="width:100px; margin-right: 3px;">
							            <p:menuitem value="Salvar e emitir" action="#{vendaBean.enviarEmail}" update=":formulario growl" icon="fa fa-save"/>
							        </p:splitButton>
							        
									<p:commandButton value="#{msg.btnLimpar}"
										action="#{vendaBean.limpar}"
										rendered="#{(not vendaBean.renderizaVisualizar) 
										and (empty vendaBean.selecionado.id and identityBean.hasPermission('venda.gerenciar.inserir'))}"
										icon="fa fa-times" immediate="true" update=":formulario growl"
										style="width:80px; margin-left: 3px;" />
									<p:commandButton value="#{msg.btnVoltar}"
										action="#{vendaBean.retornarPesquisa()}"
										icon="fa fa-caret-left" immediate="true"
										style="width:80px; margin-left: 3px;" />
								</div>
							</div>
						</div>

					</h:form>
				</div>
			</div>
		</p:panel>
	</ui:define>
</ui:composition>